/*
 * Mandados - Servicio de Mensajería en Medellín
 * Colores: Dorado y Negro
 */
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-Medium";
  src: url(../fonts/Lato-Medium.ttf);
}
@font-face {
  font-family: "Lato-Semibold";
  src: url(../fonts/Lato-Semibold.ttf);
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url(../fonts/OpenSans-Semibold.ttf);
}
p {
  font-family: "OpenSans-Regular";
  color: #333333;
  font-size: 18px;
}

body {
  overflow: hidden;
  overflow-y: auto;
  font-family: "OpenSans-Regular";
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}
#gtco-main-nav {
  padding: 20px 0;
}
#gtco-main-nav .navbar-brand {
  font-size: 36px;
  font-family: "Lato-Black";
  text-transform: uppercase;
}
#gtco-main-nav .navbar-brand img {
  max-height: 50px;
  width: auto;
}
#gtco-main-nav .bar1, #gtco-main-nav .bar2, #gtco-main-nav .bar3 {
  width: 25px;
  height: 2px;
  background-color: #1a1a1a;
  margin: 5px 0;
  transition: 0.4s;
  display: block;
  position: relative;
}
#gtco-main-nav .change .bar1 {
  -webkit-transform: rotate(-42deg) translate(-2px, 6px);
  transform: rotate(-42deg) translate(-2px, 6px);
}
#gtco-main-nav .change .bar2 {
  opacity: 0;
}
#gtco-main-nav .change .bar3 {
  -webkit-transform: rotate(46deg) translate(-4px, -8px);
  transform: rotate(46deg) translate(-4px, -8px);
}
#gtco-main-nav .navbar-nav li a {
  font-family: "OpenSans-Regular";
  font-size: 18px;
  color: #1a1a1a;
  padding: 5px 15px !important;
  text-transform: uppercase;
}
#gtco-main-nav form a {
  font-family: "OpenSans-Semibold";
  font-size: 18px;
  color: #000;
  padding: 5px 25px;
  border-radius: 20px;
  border-width: 2px;
}
#gtco-main-nav form a.btn-info {
  background: linear-gradient(135deg, #FFD700, #F4C430);
  border-color: #FFD700;
  color: #000;
  font-weight: bold;
}
#gtco-main-nav form a.btn-outline-dark {
  border-color: #1a1a1a;
  background-color: transparent;
}
@media (max-width: 991px) {
  #gtco-main-nav form a.btn-outline-dark {
    border-color: #FFD700;
    color: #FFD700;
  }
}
#gtco-main-nav::after {
  position: absolute;
  content: "";
  height: 600px;
  width: 900px;
  background-image: linear-gradient(-220deg, #1a1a1a, #333333);
  left: 49.5%;
  top: -50px;
  z-index: -1;
  border-radius: 50% 0 50% 50%;
}
@media (max-width: 1400px) {
  #gtco-main-nav::after {
    height: 550px;
    width: 800px;
  }
}
@media (max-width: 1199px) {
  #gtco-main-nav::after {
    width: 700px;
  }
}
@media (max-width: 991px) {
  #gtco-main-nav::after {
    width: 55%;
    left: auto;
    right: 0;
  }
}
@media (max-width: 600px) {
  #gtco-main-nav::after {
    width: 100%;
    height: 400px;
  }
}
#gtco-main-nav::before {
  position: absolute;
  content: "";
  height: 590px;
  width: 930px;
  background-image: linear-gradient(to right, #fef9e7, #fdefc5);
  left: 47.5%;
  top: -25px;
  z-index: -1;
  border-radius: 50% 0 50% 50%;
}
@media (max-width: 1400px) {
  #gtco-main-nav::before {
    height: 540px;
    width: 810px;
  }
}
@media (max-width: 1199px) {
  #gtco-main-nav::before {
    width: 710px;
  }
}
@media (max-width: 991px) {
  #gtco-main-nav::before {
    width: 55%;
    left: auto;
    right: 0;
  }
}
@media (max-width: 600px) {
  #gtco-main-nav::before {
    width: 100%;
    height: 390px;
  }
}

.gtco-banner-area a, .gtco-feature a, .gtco-features a, .gtco-news .owl-carousel .card a, #gtco-footer .submit-button {
  background-image: linear-gradient(135deg, #FFD700, #F4C430);
  font-size: 18px;
  font-family: "OpenSans-Semibold";
  color: #000;
  border-radius: 50px;
  padding: 5px 30px;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 5px;
  text-decoration: none !important;
  font-weight: bold;
}
.gtco-banner-area a .fa, .gtco-feature a .fa, .gtco-features a .fa, .gtco-news .owl-carousel .card a .fa, #gtco-footer .submit-button .fa {
  background: #000;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: #FFD700;
  font-size: 22px;
  text-align: center;
  padding-top: 5px;
  margin-left: 15px;
}

.gtco-feature h2, .gtco-features h2 {
  font-family: "Lato-Regular";
  color: #000000;
  font-size: 36px;
  margin-bottom: 30px;
}

.card {
  border: none;
  background: transparent;
}

.gtco-banner-area {
  margin-top: 20px;
  min-height: 500px;
}
.gtco-banner-area h1 {
  font-family: "Lato-Light";
  font-size: 48px;
  color: #000000;
  max-width: 500px;
  margin-top: 70px;
}
.gtco-banner-area h1 span {
  font-family: "Lato-Medium";
}
@media (max-width: 1199px) {
  .gtco-banner-area h1 {
    margin-top: 30px;
  }
}
.gtco-banner-area p {
  max-width: 450px;
  margin: 20px 0;
  margin-bottom: 40px;
}
.gtco-banner-area a {
  display: inline;
  padding: 10px 30px;
  padding-right: 5px;
}
.gtco-banner-area .col-md-6 .card .card-img-top {
  max-width: 430px;
  margin: 0 auto;
  margin-top: 30px;
  margin-right: 0;
}
@media (max-width: 1400px) {
  .gtco-banner-area .col-md-6 .card .card-img-top {
    max-width: 400px;
    margin-top: 20px;
    margin-right: auto;
  }
}
@media (max-width: 1199px) {
  .gtco-banner-area .col-md-6 .card .card-img-top {
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  .gtco-banner-area .col-md-6 .card .card-img-top {
    margin-top: 100px;
  }
}

.gtco-feature {
  margin-top: 100px;
}
.gtco-feature .card .back-bg {
  margin-left: -30px !important;
  margin-top: -20px;
}
.gtco-feature .card svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gtco-feature .card svg.defs {
  position: absolute;
  width: 0;
  height: 0;
}
.gtco-feature .card .squircle {
  width: 100%;
  height: 450px;
  background: url(../images/learn-img.jpg) center/cover, #aaa;
  clip-path: url(#clip-path);
  background-position-x: -50px;
}
.gtco-feature p small {
  font-size: 16px;
}
.gtco-feature a {
  margin-top: 20px;
  display: inline-block;
}

.gtco-features {
  margin-top: 100px;
}
.gtco-features svg {
  position: absolute;
  margin-left: -100px;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .gtco-features svg {
    margin: 0 auto;
    margin-top: 200px;
  }
}
.gtco-features h2 {
  margin-top: 200px;
}
@media (max-width: 991px) {
  .gtco-features h2 {
    margin-top: 0;
  }
}
.gtco-features .col-lg-4 p {
  max-width: 320px;
  margin-bottom: 30px;
}
.gtco-features .col-lg-8 {
  padding: 10px 100px;
}
@media (max-width: 767px) {
  .gtco-features .col-lg-8 {
    padding: 10px 0;
  }
}
.gtco-features .col-lg-8 .row .col:first-child {
  margin-top: 150px;
}
@media (max-width: 600px) {
  .gtco-features .col-lg-8 .row .col:first-child {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .gtco-features .col-lg-8 .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.gtco-features .col-lg-8 .card {
  background: #fff;
  margin: 30px 5px;
  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
}
.gtco-features .col-lg-8 .card .oval {
  background: linear-gradient(to right, #fef9e7, #fdefc5);
  padding: 10px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  transform: rotate(20deg);
  margin-top: 20px;
}
.gtco-features .col-lg-8 .card .card-img-top {
  max-width: 0.8in;
  margin: 0 auto;
  transform: rotate(-20deg);
}
.gtco-features .col-lg-8 .card h3 {
  font-family: "Lato-Regular";
  font-size: 24px;
  color: #FFD700;
}
.gtco-features .col-lg-8 .card p {
  font-size: 16px;
}

.gtco-numbers-block {
  margin: 100px auto;
  margin-top: 200px;
  color: #fff;
}
@media (max-width: 600px) {
  .gtco-numbers-block {
    margin-top: 100px;
  }
}
@media (max-width: 1299px) {
  .gtco-numbers-block .row {
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .gtco-numbers-block .row .col-3 {
    padding: 0;
  }
}
.gtco-numbers-block #custom-map::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 100%;
  border: 2px solid red;
}
.gtco-numbers-block svg {
  margin-top: -100px;
  position: absolute;
  left: 0;
  max-width: 1500px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1299px) {
  .gtco-numbers-block svg {
    margin-top: -90px;
  }
}
@media (max-width: 1199px) {
  .gtco-numbers-block svg {
    margin-top: -60px;
  }
}
@media (max-width: 991px) {
  .gtco-numbers-block svg {
    margin-top: -40px;
  }
}
@media (max-width: 650px) {
  .gtco-numbers-block svg {
    margin-top: -20px;
  }
}
@media (max-width: 600px) {
  .gtco-numbers-block svg {
    margin-top: -10px;
  }
}
.gtco-numbers-block h5 {
  font-family: "Lato-Bold";
  font-size: 60px;
}
@media (max-width: 1299px) {
  .gtco-numbers-block h5 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .gtco-numbers-block h5 {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .gtco-numbers-block h5 {
    margin: 0;
    font-size: 18px;
  }
}
.gtco-numbers-block p {
  font-family: "Lato-Semibold";
  font-size: 24px;
  color: #fff;
}
@media (max-width: 1299px) {
  .gtco-numbers-block p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .gtco-numbers-block p {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .gtco-numbers-block p {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .gtco-numbers-block p {
    line-height: 1.1;
  }
}
@media (max-width: 500px) {
  .gtco-numbers-block p {
    font-size: 8px;
  }
}

.gtco-testimonials {
  position: relative;
  margin-top: 200px;
}
@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 100px;
  }
}
.gtco-testimonials h2 {
  font-family: "Lato-Medium";
  font-size: 36px;
  text-align: center;
  color: #333333;
  margin-bottom: 100px;
}
.gtco-testimonials .owl-stage-outer {
  padding-bottom: 30px;
}
.gtco-testimonials .owl-nav {
  display: none;
}
.gtco-testimonials .owl-dots {
  text-align: center;
}
.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #FFD700;
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
  background: #FFD700;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.gtco-testimonials .card {
  background: #fff;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
  margin: 0 30px;
  padding: 0 20px;
  border-radius: 50px;
}
.gtco-testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #FFD700;
  width: 100px;
  height: 100px;
}
.gtco-testimonials .card h5 {
  color: #1a1a1a;
  font-size: 21px;
  line-height: 1.3;
  font-family: "Lato-Medium";
}
.gtco-testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
  font-family: "OpenSans-Regular";
}
.gtco-testimonials .card p {
  font-size: 18px;
}
.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h5 {
  font-size: 24px;
}
.gtco-testimonials .center h5 span {
  font-size: 20px;
}
.gtco-testimonials .center p {
  font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}

.gtco-features-list {
  margin-top: 100px;
}
.gtco-features-list .media {
  margin: 20px 0;
}
.gtco-features-list .oval {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 60px;
  width: 60px;
}
.gtco-features-list .oval .align-self-start {
  width: 100%;
  padding: 3px;
}
.gtco-features-list .media-body {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  color: #666666;
  padding-right: 20px;
}
.gtco-features-list .media-body h5 {
  font-family: "Lato-Semibold";
  margin-bottom: 20px !important;
  font-size: 22px;
}

.gtco-logo-area {
  margin: 50px auto;
}
.gtco-logo-area .col .img-fluid {
  max-height: 32px;
}
@media (max-width: 600px) {
  .gtco-logo-area .col {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 20px 0;
  }
}

.gtco-news {
  background: #fcfcfc;
  padding: 50px 0;
  margin: 100px auto;
}
.gtco-news h2 {
  font-size: 36px;
  font-weight: "Lato-Medium";
  text-align: center;
  margin-bottom: 50px;
}
.gtco-news .owl-carousel .owl-nav {
  display: block !important;
  position: absolute;
  top: 25%;
  width: 100%;
}
@media (max-width: 600px) {
  .gtco-news .owl-carousel .owl-nav {
    display: none !important;
  }
}
.gtco-news .owl-carousel .owl-nav .owl-prev, .gtco-news .owl-carousel .owl-nav .owl-next {
  font-size: 120px;
  color: #666666;
  position: absolute;
}
.gtco-news .owl-carousel .owl-nav .owl-prev {
  left: -50px;
}
.gtco-news .owl-carousel .owl-nav .owl-next {
  right: -50px;
}
.gtco-news .owl-carousel .card {
  padding: 0 25px;
}
.gtco-news .owl-carousel .card .card-img-top {
  border-radius: 40px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}
.gtco-news .owl-carousel .card h5 {
  font-family: "Lato-Medium";
  font-size: 22px;
  color: #333333;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .gtco-news .owl-carousel .card h5 {
    font-size: 18px;
  }
}
.gtco-news .owl-carousel .card p {
  font-size: 17px;
}
@media (max-width: 767px) {
  .gtco-news .owl-carousel .card p {
    font-size: 15px;
  }
}
.gtco-news .owl-carousel .card a {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

#gtco-footer {
  padding-bottom: 20px;
}
#gtco-footer h4 {
  font-family: "Lato-Medium";
  font-size: 24px;
  color: #FFD700;
  margin-bottom: 30px;
}
#gtco-footer input, #gtco-footer textarea {
  background-color: white;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
  border-radius: 50px;
  max-width: 450px;
  width: 100%;
  height: 60px;
  border: none;
  margin-bottom: 30px;
  padding-left: 30px;
  color: #000;
}
#gtco-footer input::-webkit-input-placeholder, #gtco-footer input::-moz-placeholder, #gtco-footer input:-ms-input-placeholder, #gtco-footer input:-moz-placeholder, #gtco-footer textarea::-webkit-input-placeholder, #gtco-footer textarea::-moz-placeholder, #gtco-footer textarea:-ms-input-placeholder, #gtco-footer textarea:-moz-placeholder {
  color: #999999;
  font-family: "OpenSans-Regular";
  font-size: 18px;
}
#gtco-footer textarea {
  min-height: 200px;
  border-radius: 30px;
  padding-top: 20px;
  padding-right: 20px;
  resize: none;
}
#gtco-footer .company-nav, #gtco-footer .services-nav {
  font-family: "OpenSans-Regular";
  font-size: 20px;
}
#gtco-footer .company-nav a, #gtco-footer .services-nav a {
  color: #666666;
  margin: 0;
  padding: 0;
}
#gtco-footer .follow-us-nav a {
  padding: 0 10px;
  color: #666666;
}
@media (max-width: 385px) {
  #gtco-footer .follow-us-nav a {
    padding-right: 0;
  }
}
#gtco-footer .follow-us-nav a .fa {
  font-size: 24px;
}
#gtco-footer .col-12 {
  margin-top: 90px;
}
#gtco-footer .col-12 p {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #999999;
}
@media (max-width: 991px) {
  #gtco-footer .col-12 {
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  #gtco-footer .col-lg-6 {
    margin-bottom: 50px;
  }
}

/* WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 8px 20px rgba(37, 211, 102, 0.4);
  z-index: 100;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  animation: pulse-whatsapp 2s infinite;
}

.whatsapp-float:hover {
  background-color: #20ba5a;
  color: #FFF;
  transform: scale(1.1);
  box-shadow: 0 12px 30px rgba(37, 211, 102, 0.6);
  text-decoration: none;
}

.whatsapp-float i {
  margin-top: 3px;
}

@keyframes pulse-whatsapp {
  0% {
    box-shadow: 0 8px 20px rgba(37, 211, 102, 0.4);
  }
  50% {
    box-shadow: 0 8px 30px rgba(37, 211, 102, 0.7);
  }
  100% {
    box-shadow: 0 8px 20px rgba(37, 211, 102, 0.4);
  }
}

@media (max-width: 600px) {
  .whatsapp-float {
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom: 20px;
    right: 20px;
  }
}

/* Animation Classes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(40px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.animate-on-scroll {
  opacity: 0;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.zoomIn {
  animation-name: zoomIn;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}



/* News loading indicator */
.news-loading {
  display: inline-block;
  margin-left: 10px;
  color: #FFD700;
}

.news-loading i {
  font-size: 24px;
}

/* News card image error handling */
.gtco-news .owl-carousel .card img.card-img-top {
  min-height: 200px;
  object-fit: cover;
  background-color: #f0f0f0;
}

/* External link styling */
.gtco-news .owl-carousel .card a[target="_blank"]::after {
  content: ' ↗';
  font-size: 14px;
  margin-left: 2px;
}
